<%- include('content/header') -%>
    <div class="container padding center form form-control">
        <h3>Admin Login</h3>
       <% if(ep) { %>
            <p><%= ep %></p>
       <% } %>
       <% if(email) { %>
        <p><%= email %></p>
   <% } %>
   <% if(password) { %>
    <p><%= password %></p>
<% } %>
   <form action="/users/admin/login" method="POST">
       <input type="email" name="email" id="email" placeholder="Enter Email">
       <input type="password" name="password" id="password" placeholder="Enter Password">
       <input type="submit" value="Login">

   </form>
</div>
<%- include('content/footer') -%>