<%- include('content/header') -%>
    <div class="container padding center form form-control">
        <h3>Login</h3>
        <% if(username) { %>
            <p><%= username %></p>
       <% } %>
       <% if(user) { %>
        <p><%= user %></p>
   <% } %>
   <% if(password) { %>
    <p><%= password %></p>
<% } %>
   <form action="/users/login" method="POST">
       <input type="text" name="username" id="username" placeholder="Enter Username">
       <input type="password" name="password" id="password" placeholder="Enter Password">
       <input type="submit" value="Login">

   </form>
</div>
<%- include('content/footer') -%>